html {
  --shadow: rgba(0, 0, 0, 0.2);
  --surface-background: #222;
  --primary-text: #f2f3f4;
}

body {
  /* background: #d2d2d2; */
  background: #232324;
}

.background_square {
  background-image: url(/imgs/square.svg);
  background-size: calc(20px + .7vw);
  background-repeat: repeat;
  -webkit-mask-image: linear-gradient(to top, white , transparent);
  mask-image: linear-gradient(to top, white , transparent);
}

#loader {
  animation: loader 1s infinite ease-in-out;
}

@keyframes loader {
  100% {
    rotate: 360deg;
  }
}

.informational { color: rgb(81, 81, 212); }
.success { color: rgb(81, 193, 81); }
.redirection { color: rgb(215, 162, 61); }
.client-error { color: rgb(203, 68, 68); }
.server-error { color: rgb(172, 78, 172); }